<div class="dashboard">
    <p>Datos Mundiales Covid 19</p>

    <div class="row">
        <div  class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Confirmados</h5>
              <p class="card-text">{{ datos.confirmed | number:'1.0'}}</p>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Fallecidos</h5>
                <p class="card-text">{{datos.deaths | number:'1.0'}}</p>
              </div>
            </div>
          </div>

          <div  class="col-sm-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Recuperados</h5>
                <p class="card-text">{{datos.recovered | number:'1.0'}}</p>
              </div>
            </div>
          </div>
    </div>
    <br>

    <p>Datos Centro America Covid 19</p>
    <div class="paises">
      <div class="card-group">
        <div *ngFor='let pais of paises'>
            <div  class="card text-white bg-dark" (click)='getDataByCountry(pais.iso2)'   >
                <img class="card-img-top" src="{{pais.imagen}}" alt="imagen de una bandera">
                <div class="card-body">
                <h5 style="text-align: center;">{{pais.pais}}</h5>
                </div>
        
            </div>
        </div>
    </div>
    </div>

<br>
    <p>Datos {{country.countryregion}} Covid 19</p>
    <div class="row">
        <div  class="col-sm-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Confirmados</h5>
              <p class="card-text">{{ country.confirmed | number:'1.0'}}</p>
            </div>
          </div>
        </div>

        <div class="col-sm-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Fallecidos</h5>
                <p class="card-text">{{ country.deaths | number:'1.0'}}</p>
              </div>
            </div>
          </div>

          <div  class="col-sm-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Recuperados</h5>
                <p class="card-text">{{ country.recovered | number:'1.0'}}</p>
              </div>
            </div>
          </div>

          <div  class="col-sm-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Fecha Consulta</h5>
                <p class="card-text">{{ country.lastupdate | date: 'dd/MM/yyyy'}}</p>
              </div>
            </div>
          </div>
    </div>

    <div class="tablas">
        <p style="font-size: 20px;">Buscar por fecha<input #f (change)="findByDate(f.value,country.countryregion)" style="margin-left:10px ;" type="date"></p>
        <table>
            
            <thead>
            <tr>
                <th>#</th>
                <th (click)="reverseDate()">Fecha</th>
                <th>Confirmados</th>
                <th>Fallecidos</th>
                <th>Recuperados</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor='let item of ti; let i = index'>
                <td>{{i+1}}</td>
                <td>{{item.fecha | date: 'dd/MM/yyyy'}}</td>
                <td>{{item.datos.confirmed | number:'1.0'}}</td>
                <td>{{item.datos.deaths | number:'1.0'}}</td>
                <td>{{item.datos.recovered | number:'1.0'}}</td>
            </tr>
            </tbody>
        </table>
        <div class="centrar">
            <button type="button" class="btn btn-outline-primary" (click)="paginacion(-10)">Anteriores</button>
            <button type="button" class="btn btn-outline-primary" (click)="paginacion(10)">Siguientes</button>        
        </div>
        
    </div>



</div>
<br>
<br>
<br>
<app-footer></app-footer>

