<header>
    <nav class="fix-top">
        <div class="menu">
        <p>I4T <strong style="font-size: 15px;">Is for Tech</strong></p>
        <button type="button" class="btn btn-outline-warning btn-sm" data-toggle="modal" href='#modal2'>Suscripción</button>
    </div>

    <div class="modal fade" id='modal2' tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <span></span>
            <div class="modal-content border">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold" style="color: black;">Subscripcion</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
                </div>
                <form #f ngNativeValidate [formGroup]="formSubscription" (ngSubmit)="subscription(f)">
                    <div class="modal-body mx-3">
                      <div>
                       
                      </div>
                        <div class="md-form mb-5 form-group" style="justify-content: center;">
                            <h4 style="color: black;">Nombre</h4>
                            <input id='name' formControlName="name" name="name" type="text" class="form-control" placeholder="Escribe tu Nombre" required>
                            <h4 style="color: black;">Fecha de Nacimiento</h4>
                            <input id='date' formControlName="date"  name="date" type="date" class="form-control" placeholder="Cantidad" required>
                            <h4 style="color: black;">Correo Electronico</h4>
                            <input id='email' formControlName="email" name="email" type="email" class="form-control" placeholder="Escribe tu Correo Electronico" required>
                            <h4 style="color:red;" *ngIf="!validForm">El nombre solo puede contener letras</h4>
                        </div>
                    </div>
      
      
                    <div class="modal-footer d-flex justify-content-center">
      
                        <button 
                        type="submit" class="btn btn-outline-primary"
                       >
                        
                            Suscribirse
                        </button>
                    </div>
      
      
                </form>
      
      
            </div>
        </div>
      </div>
      





    </nav>
</header>
