/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
}

nav {
    position: relative;
    width: 100%;
    height:50px;
    background:#333;
    line-height: 50px;
    justify-content: space-around;

}


nav .menu p {
    color: white;
    font-size: 35px;
    margin-left: 150px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

nav .menu button {
    margin-right: 150px;
    font-size: 20px;
    height: 40px;
    margin-top: 5px;
}

.menu{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}


body{
    background:#F8F8FF;
}

.dashboard{
    margin-top: 90px;
    width: 82%;
    margin-left: 9%;
    border: 1px blue;
}
.dashboard p{
    text-align: center;
    font-size: 25px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.dashboard h5{
  text-align: center;

}


.paises{
    width: 100%;
    height: auto;
    position: relative;

  }

.paises .card-group .card{
    max-width: 10rem; 
    margin-left: 5px; 
    margin-top: 5px; 
    min-width: 11rem;
    max-height: 12rem;
  
  }


  .paises .card-group img{
    width: 165px;
    margin: 4px;
  }

  .paises .card-group .card:hover{
      cursor: pointer;
      border-bottom: red 10px solid;
  }


  table { 
    margin-left: 5%;
    width: 90%; 
    border-collapse: collapse;
  }


  /* Zebra striping */
  tr:nth-of-type(odd) { 
    background: #eee; 
  }
  th { 
    background: #333; 
    color: white; 
    font-weight: bold; 
  }
  td, th { 
    padding: 6px; 
    border: 1px solid #ccc; 
    text-align: left; 
    
  }
  td,h2,p,label{
      color: black;
  }

  .tablas .centrar{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}


@media (max-width:360px){

    .dashboard{
        width: 90%;
        margin-left: 5px;
    }
    nav .menu p {

        margin-left: 10px;

    }
    
    nav .menu button {
        margin-right: 25px;

    }

    .paises .card-group .card{
        max-width: 10rem; 
        min-width: 10rem;
        max-height: 10rem;
        margin-left: 100px; 
        margin-top: 2px; 

      }
      .paises .card-group .card h5{
        font-size: 15px;
      }


      th { 
        background: #333; 
        color: white; 
        font-weight: bold; 
        font-size: 15px;
      }
      td, th { 
        padding: 0px; 
        border: 1px solid #ccc; 
        text-align: center; 
        font-size: 15px;
        
      }
      td,h2,p,label{
        font-size: 15px;
          color: black;
      }
    
  }
